{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^[a-zA-Z]",
    "^@/(?!styles/)",
    "^(?!.*\\.css$)\\.",
    "^(?!.*\\.css$)[./]",
    "^@/styles/",
    "[.](c|le|sc)ss$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
